{
  "openapi": "3.0.0",
  "info": {
    "description": "# Overview\n\n* **Version:** 2.0.0\n* **Servers**: `https://store.xsolla.com/api`\n* **[Contact Us by Email](mailto:integration@xsolla.com)**\n* **Contact URL:** https://xsolla.com/\n* **Required TLS version:** 1.2\n\nShop Builder API provides a third-party solution for implementing\nthe server side for your store interface. Use the endpoints to manage in-game items,\nin-game currencies, cart, player inventory, promotions, game library, etc.\n\n# Download API definition\n\nYou can download the API definition in two formats:\n- [YAML](https://api.redocly.com/registry/bundle/xsolla/store-en/v1/openapi.yaml)\n- [JSON](https://api.redocly.com/registry/bundle/xsolla/store-en/v1/openapi.json)",
    "version": "2.0.0",
    "title": "Shop Builder API"
  },
  "servers": [
    {
      "url": "https://store.xsolla.com/api"
    }
  ],
  "tags": [
    {
      "name": "attribute-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "personalized-catalog",
      "x-displayName": "Personalized catalog",
      "description": "This API allows to specify rules for user attributes.\nIf the user meets all conditions for a concrete rule, personalized items will be shown.\n\nFor personalized promotions see [Promotions section](/api/shop-builder/tag/promotions-discounts).\n\nTo pass attributes before a purchase, you can use [Xsolla Login API](/api/login/operation/update-users-attributes-from-server/) or pass them into [user.attributes property while generating token using Pay Station API](/api/pay-station/operation/create-token)."
    },
    {
      "name": "bundles-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "bundles-catalog",
      "x-displayName": "Catalog"
    },
    {
      "name": "cart-client-side",
      "x-displayName": "Cart (client-side)"
    },
    {
      "name": "cart-server-side",
      "x-displayName": "Cart (server-side)"
    },
    {
      "name": "payment-client-side",
      "x-displayName": "Payment (client-side)"
    },
    {
      "name": "payment-server-side",
      "x-displayName": "Payment (server-side)"
    },
    {
      "name": "order",
      "x-displayName": "Order"
    },
    {
      "name": "common-webhooks",
      "x-displayName": "Webhooks"
    },
    {
      "name": "common-pre-orders",
      "x-displayName": "Pre-Orders"
    },
    {
      "name": "common-merchant",
      "x-displayName": "Merchant"
    },
    {
      "name": "common-catalog",
      "x-displayName": "Catalog",
      "description": "This API allows getting any kind of sellable items or specific item.\n"
    },
    {
      "name": "game-keys-catalog",
      "x-displayName": "Catalog"
    },
    {
      "name": "game-keys-entitlement",
      "x-displayName": "Entitlement"
    },
    {
      "name": "game-keys-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "promotions-common",
      "x-displayName": "Common"
    },
    {
      "name": "promotions-coupons",
      "x-displayName": "Coupons",
      "description": "This API allows to you to manage coupons."
    },
    {
      "name": "promotions-promo-codes",
      "x-displayName": "Promo codes",
      "description": "This API allows to manage promo codes."
    },
    {
      "name": "promotions-unique-catalog-offers",
      "x-displayName": "Unique catalog offers",
      "description": "This API allows to you to manage unique catalog offers."
    },
    {
      "name": "promotions-discounts",
      "x-displayName": "Discounts",
      "description": "This API allows to you to manage discount promotions."
    },
    {
      "name": "promotions-bonuses",
      "x-displayName": "Bonuses",
      "description": "This API allows to manage bonus promotions."
    },
    {
      "name": "virtual-items-currency-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "virtual-items-currency-catalog",
      "x-displayName": "Catalog"
    },
    {
      "name": "virtual-payment",
      "x-displayName": "Virtual payment"
    },
    {
      "name": "common-regions",
      "x-displayName": "Common regions"
    },
    {
      "name": "free-item",
      "x-displayName": "Free items"
    },
    {
      "name": "user-limits-admin",
      "x-displayName": "Management"
    },
    {
      "name": "reward-chain-value-points-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "reward-chain-client",
      "x-displayName": "Client"
    },
    {
      "name": "offer-chain-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "offer-chain-client",
      "x-displayName": "Client"
    },
    {
      "name": "clan-reward-chain-client",
      "x-displayName": "Clans client"
    },
    {
      "name": "upsell-admin",
      "x-displayName": "Admin"
    },
    {
      "name": "upsell-client",
      "x-displayName": "Client"
    },
    {
      "name": "connector-admin",
      "x-displayName": "Admin"
    }
  ],
  "paths": {
    "/v2/project/{project_id}/admin/attribute": {
      "get": {
        "summary": "Get list of attributes (admin)",
        "description": "Gets the list of attributes from a project for administration.\n",
        "operationId": "admin-get-attribute-list",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-admin-get-attribute-list-response"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          }
        }
      },
      "post": {
        "summary": "Create attribute",
        "description": "Creates an attribute.\n",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "admin-create-attribute",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-update-attribute"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/201-admin-create-attribute"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "422": {
            "$ref": "#/components/responses/422-validation-failed"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/attribute/{external_id}": {
      "put": {
        "summary": "Update attribute",
        "description": "Updates an attribute.\n",
        "operationId": "admin-update-attribute",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-update-attribute"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-admin-update-attribute"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "422": {
            "$ref": "#/components/responses/422-validation-failed"
          }
        }
      },
      "get": {
        "summary": "Get specified attribute",
        "description": "Gets a specified attribute.",
        "operationId": "admin-get-attribute",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-admin-get-attribute"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "404": {
            "$ref": "#/components/responses/404-attribute-not-found"
          }
        }
      },
      "delete": {
        "summary": "Delete attribute",
        "description": "Deletes an attribute.\n<div class=\"notice\"><strong>Notice</strong><br><br>If you delete an item attribute, all its data and connections with items will be lost.</div>\n",
        "operationId": "delete-attribute",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Attribute was successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/attribute/{external_id}/value": {
      "post": {
        "summary": "Create attribute value",
        "description": "Creates an attribute value.\n\n<div class=\"notice\"><strong>Attention</strong><br><br>All projects have the limitation to the number of attribute values. The default and maximum value is <strong>20 values per attribute.</strong></div>\n",
        "operationId": "admin-create-attribute-value",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-update-attribute-value"
        },
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/201-admin-create-attribute-value"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          },
          "404": {
            "$ref": "#/components/responses/404-attribute-not-found"
          },
          "422": {
            "$ref": "#/components/responses/422-create-update-attribute-value"
          }
        }
      },
      "delete": {
        "summary": "Delete all values of attribute",
        "description": "Deletes all values of the attribute.\n<div class=\"notice\"><strong>Notice</strong><br><br>If you delete an attribute's value, all connections between the attribute and items will be lost. To change the attribute value for an item, use the <a href=\"https://developers.xsolla.com/api/shop-builder/operation/admin-update-attribute-value/\" target=\"_blank\">Update attribute value</a> API call instead of deleting the value and creating a new one.</div>\n",
        "operationId": "admin-delete-all-attribute-value",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "204": {
            "description": "Attribute values was successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/attribute/{external_id}/value/{value_external_id}": {
      "put": {
        "summary": "Update attribute value",
        "description": "Updates an attribute values.",
        "operationId": "admin-update-attribute-value",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/value_external_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-update-attribute-value"
        },
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "204": {
            "description": "Attribute value was successfully updated."
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          },
          "404": {
            "$ref": "#/components/responses/404-attribute-value-not-found"
          },
          "422": {
            "$ref": "#/components/responses/422-create-update-attribute-value"
          }
        }
      },
      "delete": {
        "summary": "Delete attribute value",
        "description": "Deletes an attribute value.\n<div class=\"notice\"><strong>Notice</strong><br><br>If you delete an attribute's value, all connections  between the attribute and items will be lost. To change the attribute value for an item, use the <a href=\"https://developers.xsolla.com/api/shop-builder/operation/admin-update-attribute-value/\" target=\"_blank\">Update attribute value</a> API call instead of deleting the value and creating a new one.</div>\n",
        "operationId": "admin-delete-attribute-value",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/value_external_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-attr-path-param"
          }
        ],
        "tags": [
          "attribute-admin"
        ],
        "responses": {
          "204": {
            "description": "Attribute value was successfully deleted."
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/user/attribute/rule": {
      "get": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-filter-rules",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/is_enabled-query-param"
          }
        ],
        "summary": "Get list of catalog filter rules",
        "description": "Gets all rules applying to user attributes.\n",
        "responses": {
          "200": {
            "description": "Rules were successfully received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/user-attribute_personalized-catalog"
                      }
                    },
                    "total_items_count": {
                      "type": "number",
                      "description": "Total number of rules."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "If another page with rules exists."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "items": [
                        {
                          "rule_id": 1,
                          "name": "Ork race armor rule",
                          "is_enabled": true,
                          "is_satisfied_for_unauth": false,
                          "attribute_conditions": [
                            {
                              "attribute": "race",
                              "operator": "eq",
                              "value": "ork",
                              "type": "string",
                              "can_be_missing": false
                            }
                          ],
                          "items": [
                            {
                              "item_id": 1,
                              "sku": "com.xsolla.ork_armor_1",
                              "name": "Ork Armor",
                              "type": "virtual_good"
                            },
                            {
                              "item_id": 2,
                              "sku": "com.xsolla.potion_pack_1",
                              "name": "Potion pack",
                              "type": "bundle",
                              "bundle_type": "standard"
                            }
                          ]
                        }
                      ],
                      "total_items_count": 20,
                      "has_more": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          }
        }
      },
      "post": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "create-filter-rule",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Create catalog filter rule",
        "description": "Create rule for user attributes.\n",
        "responses": {
          "201": {
            "description": "Rule was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rule_id": {
                      "type": "number",
                      "description": "Rule ID."
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "rule_id": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          },
          "422": {
            "$ref": "#/components/responses/Common_422-body-validation"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/personalized-catalog_create-update-body"
        }
      }
    },
    "/v2/project/{project_id}/admin/user/attribute/rule/all": {
      "get": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-all-filter-rules",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Get all catalog rules for searching on client-side",
        "description": "Gets a list of all catalog rules for searching on the client-side.\n<div class=\"notice\"><strong>Attention</strong><br><br>Returns only rule id, name and is_enabled</div>\n",
        "responses": {
          "200": {
            "description": "Rules were successfully received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/user-attribute_personalized-catalog_all"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "items": [
                        {
                          "rule_id": 1,
                          "name": "Ork race armor rule",
                          "is_enabled": true,
                          "is_satisfied_for_unauth": false
                        },
                        {
                          "rule_id": 2,
                          "name": "Age",
                          "is_enabled": false,
                          "is_satisfied_for_unauth": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          },
          "403": {
            "$ref": "#/components/responses/403-auth-header-not-sent"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/user/attribute/rule/{rule_id}": {
      "get": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-filter-rule-by-id",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/personalized-catalog-rule_id-path-param"
          }
        ],
        "summary": "Get catalog filter rule",
        "description": "Get specific rule applying to user attributes.\n",
        "responses": {
          "200": {
            "description": "Rule was successfuly recieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-attribute_personalized-catalog"
                },
                "examples": {
                  "response": {
                    "value": {
                      "rule_id": 1,
                      "name": "Ork race armor rule",
                      "is_enabled": true,
                      "is_satisfied_for_unauth": true,
                      "attribute_conditions": [
                        {
                          "attribute": "race",
                          "operator": "eq",
                          "value": "ork",
                          "type": "string",
                          "can_be_missing": false
                        }
                      ],
                      "items": [
                        {
                          "item_id": 1,
                          "sku": "com.xsolla.ork_armor_1",
                          "name": "Ork Armor"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          }
        }
      },
      "put": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "update-filter-rule-by-id",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/personalized-catalog-rule_id-path-param"
          }
        ],
        "summary": "Update catalog filter rule",
        "description": "Updates a specific rule applying to user attributes. The default value will be used for a not specified property (if property is not required).\n",
        "responses": {
          "204": {
            "description": "Successful update."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          },
          "422": {
            "$ref": "#/components/responses/Common_422-body-validation"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/personalized-catalog_create-update-body"
        }
      },
      "patch": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "patch-filter-rule-by-id",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/personalized-catalog-rule_id-path-param"
          }
        ],
        "summary": "Patch catalog filter rule",
        "description": "Updates a specific rule applying to user attributes. The current value will be used for a not specified property.\n",
        "responses": {
          "204": {
            "description": "Update was successful."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          },
          "422": {
            "$ref": "#/components/responses/Common_422-body-validation"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user-attribute_personalized-catalog-body"
              },
              "example": {
                "is_enabled": false
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "personalized-catalog"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "delete-filter-rule-by-id",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/personalized-catalog-rule_id-path-param"
          }
        ],
        "summary": "Delete catalog filter rule",
        "description": "Deletes a specific rule.\n",
        "responses": {
          "204": {
            "description": "Delete was successful."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-complex"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle": {
      "get": {
        "summary": "Get list of bundles (admin)",
        "description": "Gets the list of bundles within a project for administration.\n\n<div class=\"note\"><b>Note</b><br><br>Do not use this endpoint for building a store catalog.</div>\n",
        "operationId": "admin-get-bundle-list",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-admin-get-bundle-list"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      },
      "post": {
        "summary": "Create bundle",
        "description": "Creates a bundle.\n",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "admin-create-bundle",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Bundles_bundle"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Bundles_201-admin-create-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          },
          "422": {
            "$ref": "#/components/responses/Bundles_422-invalid-request"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle/group/id/{group_id}": {
      "get": {
        "summary": "Get list of bundles by specified group id",
        "description": "Gets the list of bundles within a group for administration.\n\n<div class=\"note\"><b>Note</b><br><br>Do not use this endpoint for building a store catalog.</div>\n",
        "operationId": "admin-get-bundle-list-in-group-by-id",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/group_id-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-admin-get-bundle-list-in-group"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle/group/external_id/{external_id}": {
      "get": {
        "summary": "Get list of bundles by specified group external id",
        "description": "Gets the list of bundles within a group for administration.\n\n<div class=\"note\"><b>Note</b><br><br>Do not use this endpoint for building a store catalog.</div>\n",
        "operationId": "admin-get-bundle-list-in-group-by-external-id",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-group-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-admin-get-bundle-list-in-group"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle/sku/{sku}": {
      "put": {
        "summary": "Update bundle",
        "description": "Updates a bundle.\n",
        "operationId": "admin-update-bundle",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Bundles_bundle"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/Bundles_204-admin-update-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          },
          "422": {
            "$ref": "#/components/responses/Bundles_422-invalid-request"
          }
        }
      },
      "delete": {
        "summary": "Delete bundle",
        "description": "Deletes a bundle.\n",
        "operationId": "admin-delete-bundle",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Bundles_204-admin-delete-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      },
      "get": {
        "summary": "Get bundle",
        "description": "Gets the bundle within a project for administration.\n\n<div class=\"note\"><b>Note</b><br><br>Do not use this endpoint for building a store catalog.</div>\n",
        "operationId": "admin-get-bundle",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-admin-get-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle/sku/{sku}/show": {
      "put": {
        "summary": "Show bundle in catalog",
        "description": "Shows a bundle in a catalog.\n",
        "operationId": "admin-show-bundle",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Bundles_204-admin-show-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/bundle/sku/{sku}/hide": {
      "put": {
        "summary": "Hide bundle in catalog",
        "description": "Hides a bundle in a catalog.\n",
        "operationId": "admin-hide-bundle",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          }
        ],
        "tags": [
          "bundles-admin"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Bundles_204-admin-hide-bundle"
          },
          "401": {
            "$ref": "#/components/responses/Bundles_401-invalid-basic-auth"
          }
        }
      }
    },
    "/v2/project/{project_id}/items/bundle": {
      "get": {
        "summary": "Get list of bundles",
        "description": "Gets a list of bundles for building a catalog.\n\n<div class=\"notice\"><strong>Attention</strong><br><br>All projects have the limitation to the number of items that you can get in the response. The default and maximum value is <strong>50 items per response.</strong></div> <br> <div class=\"note\"><b>Note</b><br><br>In general, the use of catalog of items is available without authorization.<br> Only authorized users can get <a href=\"https://developers.xsolla.com/doc/shop-builder/features/personalization/\" target=\"_blank\">a personalized catalog.</a></div>\n",
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "operationId": "get-bundle-list",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          },
          {
            "$ref": "#/components/parameters/additional_fields-query-param"
          },
          {
            "$ref": "#/components/parameters/country-query-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          },
          {
            "$ref": "#/components/parameters/show_inactive_time_limited_items-query-param"
          }
        ],
        "tags": [
          "bundles-catalog"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-get-bundle-list"
          }
        }
      }
    },
    "/v2/project/{project_id}/items/bundle/sku/{sku}": {
      "get": {
        "summary": "Get specified bundle",
        "description": "Gets a specified bundle.\n\n<div class=\"note\"><b>Note</b><br><br>This endpoint, accessible without authorization, returns generic data. However, authorization enriches the response with user-specific details for <a href=\"https://developers.xsolla.com/doc/shop-builder/features/personalization/\" target=\"_blank\">a personalized result</a>, such as available user limits and promotions.</div>",
        "operationId": "get-bundle",
        "x-client": true,
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/sku-path-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          },
          {
            "$ref": "#/components/parameters/show_inactive_time_limited_items-query-param"
          }
        ],
        "tags": [
          "bundles-catalog"
        ],
        "responses": {
          "200": {
            "description": "The specified bundle was successfully received.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundles_client_bundle"
                },
                "examples": {
                  "response": {
                    "$ref": "#/components/examples/Bundles_200-get-bundle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/project/{project_id}/items/bundle/group/{external_id}": {
      "get": {
        "summary": "Get list of bundles by specified group",
        "description": "Gets a list of bundles within a group for building a catalog.\n\n<div class=\"notice\"><strong>Attention</strong><br><br>All projects have the limitation to the number of items that you can get in the response. The default and maximum value is <strong>50 items per response.</strong></div> <br> <div class=\"note\"><b>Note</b><br><br>In general, the use of catalog of items is available without authorization.<br> Only authorized users can get <a href=\"https://developers.xsolla.com/doc/shop-builder/features/personalization/\" target=\"_blank\">a personalized catalog.</a></div>\n",
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "operationId": "get-bundle-list-in-group",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/external_id-group-path-param"
          },
          {
            "$ref": "#/components/parameters/limit-query-param"
          },
          {
            "$ref": "#/components/parameters/offset-query-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          },
          {
            "$ref": "#/components/parameters/additional_fields-query-param"
          },
          {
            "$ref": "#/components/parameters/country-query-param"
          },
          {
            "$ref": "#/components/parameters/promo_code-query-param"
          },
          {
            "$ref": "#/components/parameters/show_inactive_time_limited_items-query-param"
          }
        ],
        "tags": [
          "bundles-catalog"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Bundles_200-get-bundle-list"
          }
        }
      }
    },
    "/v2/project/{project_id}/cart/{cart_id}": {
      "get": {
        "summary": "Get cart by cart ID",
        "description": "Returns user’s cart by cart ID.",
        "operationId": "get-cart-by-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          },
          {
            "$ref": "#/components/parameters/currency-query-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-get-cart-json-model"
          }
        },
        "security": [
          {
            "AuthForCart": []
          }
        ]
      }
    },
    "/v2/project/{project_id}/cart": {
      "get": {
        "summary": "Get current user's cart",
        "description": "Returns the current user's cart.",
        "operationId": "get-user-cart",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/currency-query-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-get-cart-json-model"
          }
        },
        "security": [
          {
            "AuthForCart": []
          }
        ]
      }
    },
    "/v2/project/{project_id}/cart/{cart_id}/clear": {
      "put": {
        "summary": "Delete all cart items by cart ID",
        "description": "Deletes all cart items.",
        "operationId": "cart-clear-by-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "responses": {
          "204": {
            "description": "The cart was successfully cleared."
          }
        },
        "security": [
          {
            "AuthForCart": []
          }
        ]
      }
    },
    "/v2/project/{project_id}/cart/clear": {
      "put": {
        "summary": "Delete all cart items from current cart",
        "description": "Deletes all cart items.",
        "operationId": "cart-clear",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "responses": {
          "204": {
            "description": "The cart was successfully cleared."
          }
        },
        "security": [
          {
            "AuthForCart": []
          }
        ]
      }
    },
    "/v2/project/{project_id}/cart/fill": {
      "put": {
        "summary": "Fill cart with items",
        "description": "Fills the cart with items. If the cart already has an item with the same SKU, the existing item will be replaced by the passed value.",
        "operationId": "cart-fill",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_fill-cart-json-model"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-fill-cart-json-model"
          }
        }
      }
    },
    "/v2/project/{project_id}/cart/{cart_id}/fill": {
      "put": {
        "summary": "Fill specific cart with items",
        "description": "Fills the specific cart with items. If the cart already has an item with the same SKU, the existing item position will be replaced by the passed value.",
        "operationId": "cart-fill-by-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_fill-cart-json-model"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-fill-cart-json-model"
          }
        }
      }
    },
    "/v2/project/{project_id}/cart/{cart_id}/item/{item_sku}": {
      "put": {
        "summary": "Update cart item by cart ID",
        "description": "Updates an existing cart item or creates the one in the cart.",
        "operationId": "put-item-by-cart-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_put-item-by-cart-idJsonModel"
        },
        "responses": {
          "204": {
            "description": "The cart was successfully updated."
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-item"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-non-negative-quantity"
          }
        }
      },
      "delete": {
        "summary": "Delete cart item by cart ID",
        "description": "Removes an item from the cart.",
        "operationId": "delete-item-by-cart-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "responses": {
          "204": {
            "description": "The item from the cart was successfully deleted."
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-item"
          }
        }
      }
    },
    "/v2/project/{project_id}/cart/item/{item_sku}": {
      "put": {
        "summary": "Update cart item from current cart",
        "description": "Updates an existing cart item or creates the one in the cart.",
        "operationId": "put-item",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_put-item-by-cart-idJsonModel"
        },
        "responses": {
          "204": {
            "description": "The cart was successfully updated."
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-item"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-can-put-only-virtual-good-to-cart"
          }
        }
      },
      "delete": {
        "summary": "Delete cart item from current cart",
        "description": "Removes an item from the cart.",
        "operationId": "delete-item",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "cart-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "responses": {
          "204": {
            "description": "The item from the cart was successfully deleted."
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-item"
          }
        }
      }
    },
    "/v2/project/{project_id}/payment/cart/{cart_id}": {
      "post": {
        "summary": "Create order with all items from particular cart",
        "description": "Used for client-to-server integration. Creates an order with all items from the particular cart and generates a payment token for it. The created order gets the `new` order status.\n\nThe client IP is used to determine the user’s country, which is then used to apply the corresponding currency and available payment methods for the order.\n\nTo open the payment UI in a new window, use the following link: `https://secure.xsolla.com/paystation4/?token={token}`, where `{token}` is the received token.\n\nFor testing purposes, use this URL: `https://sandbox-secure.xsolla.com/paystation4/?token={token}`.\n\n<div class=\"notice\"><strong>Notice</strong> <br><br> As this method uses the IP to determine the user’s country and select a currency for the order, it is important to only use this method from the client side and not from the server side. Using this method from the server side may cause incorrect currency determination and affect payment methods in <a href=\"https://developers.xsolla.com/doc/pay-station/\">Pay Station</a>. </div>\n",
        "operationId": "create-order-by-cart-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          }
        ],
        "tags": [
          "payment-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-by-cart-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-order-created"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/project/{project_id}/payment/cart": {
      "post": {
        "summary": "Create order with all items from current cart",
        "description": "Used for client-to-server integration. Creates an order with all items from the cart and generates a payment token for it. The created order gets the `new` order status.\n\nThe client IP is used to determine the user’s country, which is then used to apply the corresponding currency and available payment methods for the order.\n\nTo open the payment UI in a new window, use the following link: `https://secure.xsolla.com/paystation4/?token={token}`, where `{token}` is the received token.\n\nFor testing purposes, use this URL: `https://sandbox-secure.xsolla.com/paystation4/?token={token}`.\n\n<div class=\"notice\"><strong>Notice</strong> <br><br> As this method uses the IP to determine the user’s country and select a currency for the order, it is important to only use this method from the client side and not from the server side. Using this method from the server side may cause incorrect currency determination and affect payment methods in <a href=\"https://developers.xsolla.com/doc/pay-station/\">Pay Station</a>. </div>\n",
        "operationId": "create-order",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "payment-client-side"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-by-cart-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-order-created"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/project/{project_id}/payment/item/{item_sku}": {
      "post": {
        "summary": "Create order with specified item",
        "description": "Used for client-to-server integration. Creates an order with a specified item and generates a payment token for it. The created order gets the `new` order status.\n\nThe client IP is used to determine the user’s country, which is then used to apply the corresponding currency and available payment methods for the order.\n\nTo open the payment UI in a new window, use the following link: `https://secure.xsolla.com/paystation4/?token={token}`, where `{token}` is the received token.\n\nFor testing purposes, use this URL: `https://sandbox-secure.xsolla.com/paystation4/?token={token}`.\n\n<div class=\"notice\"><strong>Notice</strong> <br><br> As this method uses the IP to determine the user’s country and select a currency for the order, it is important to only use this method from the client side and not from the server side. Using this method from the server side may cause incorrect currency determination and affect payment methods in <a href=\"https://developers.xsolla.com/doc/pay-station/\">Pay Station</a>. </div>\n",
        "operationId": "create-order-with-item",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "payment-client-side"
        ],
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-with-specified-item-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-order-created"
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-create-order-with-item-not-found-errors"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-create-order-with-item-invalid"
          }
        }
      }
    },
    "/v2/project/{project_id}/free/cart": {
      "post": {
        "summary": "Create order with free cart",
        "description": "Creates an order with all items from the free cart. The created order will get a `done` order status.\n",
        "operationId": "create-free-order",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "free-item"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-by-cart-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Free_200-order-created"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/project/{project_id}/free/cart/{cart_id}": {
      "post": {
        "summary": "Create order with particular free cart",
        "description": "Creates an order with all items from the particular free cart. The created order will get a `done` order status.\n",
        "operationId": "create-free-order-by-cart-id",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          }
        ],
        "tags": [
          "free-item"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-by-cart-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Free_200-order-created"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/project/{project_id}/free/item/{item_sku}": {
      "post": {
        "summary": "Create order with specified free item",
        "description": "Creates an order with a specified free item. The created order will get a `done` order status.\n",
        "operationId": "create-free-order-with-item",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "tags": [
          "free-item"
        ],
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_create-order-with-specified-item-idJsonModel"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Free_200-order-created"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-item"
          }
        }
      }
    },
    "/v2/project/{project_id}/order/{order_id}": {
      "get": {
        "summary": "Get order",
        "description": "Retrieves a specified order.",
        "operationId": "get-order",
        "x-client": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/order_id-path-param"
          }
        ],
        "tags": [
          "order"
        ],
        "security": [
          {
            "AuthForCart": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-get-order"
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-get-order"
          }
        }
      }
    },
    "/v3/project/{project_id}/admin/order/search": {
      "post": {
        "summary": "Get orders list for specified period",
        "description": "Retrieves orders list, arranged from the earliest to the latest creation date.",
        "operationId": "admin-order-search",
        "x-server": true,
        "x-admin": true,
        "tags": [
          "order"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/admin-order-search"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-admin-order-search"
          },
          "401": {
            "$ref": "#/components/responses/401-invalid-basic-auth"
          }
        }
      }
    },
    "/v3/project/{project_id}/admin/payment/token": {
      "post": {
        "operationId": "admin-create-payment-token",
        "x-server": true,
        "summary": "Create payment token for purchase",
        "description": "Generates an order and a payment token for it. The order is generated based on the items passed in the request body.\n\nTo open the payment UI in a new window, use the following link: `https://secure.xsolla.com/paystation4/?token={token}`, where `{token}` is the received token.\n\nFor testing purposes, use this URL: `https://sandbox-secure.xsolla.com/paystation4/?token={token}`.\n\n<div class=\"notice\"><strong>Notice</strong>\n   <br><br>\n   <code>user.country.value</code> parameter is used to select a currency for the order. If user's country is unknown,\nproviding the user's IP in <code>X-User-Ip</code> header is an alternative option. <br> One of these two options is required for the correct work of this method. <br> The selected currency is used for payment methods at <a href=\"https://developers.xsolla.com/doc/pay-station/\">Pay Station</a></b>.\n   </div>",
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "tags": [
          "payment-server-side"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_admin-create-payment-token"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Cart-Payment_201-admin-create-payment-token"
          },
          "401": {
            "$ref": "#/components/responses/Cart-Payment_401-invalid-basic-auth"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-admin-create-payment-token"
          }
        }
      }
    },
    "/v2/admin/project/{project_id}/cart/fill": {
      "put": {
        "summary": "Fill cart with items",
        "description": "Fills the current cart with items. If the cart already has an item with the same SKU, the existing item will be replaced by the passed value.\n",
        "operationId": "admin-cart-fill",
        "x-server": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          },
          {
            "$ref": "#/components/parameters/x-user-for-header"
          },
          {
            "$ref": "#/components/parameters/x-user-id-header"
          }
        ],
        "tags": [
          "cart-server-side"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_admin-fill-cart-json-model"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-admin-fill-cart-json-model"
          },
          "401": {
            "$ref": "#/components/responses/Cart-Payment_401-invalid-basic-auth"
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-user"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/admin/project/{project_id}/cart/{cart_id}/fill": {
      "put": {
        "summary": "Fill cart by cart ID with items",
        "description": "Fills the cart by cart ID with items. If the cart already has an item with the same SKU, the existing item will be replaced by the passed value.\n",
        "operationId": "admin-fill-cart-by-id",
        "x-server": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/cart_id-path-param"
          },
          {
            "$ref": "#/components/parameters/locale-query-param"
          },
          {
            "$ref": "#/components/parameters/x-user-for-header"
          },
          {
            "$ref": "#/components/parameters/x-user-id-header"
          }
        ],
        "tags": [
          "cart-server-side"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Cart-Payment_admin-fill-cart-json-model"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Cart-Payment_200-admin-fill-cart-json-model"
          },
          "401": {
            "$ref": "#/components/responses/Cart-Payment_401-invalid-basic-auth"
          },
          "404": {
            "$ref": "#/components/responses/Cart-Payment_404-user"
          },
          "422": {
            "$ref": "#/components/responses/Cart-Payment_422-invalid-cart"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/webhook": {
      "get": {
        "tags": [
          "common-webhooks"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-webhook",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Get information about webhook settings",
        "description": "Gets the information about the webhook settings in Store.\nCheck webhooks [documentation](https://developers.xsolla.com/doc/shop-builder/integration-guide/set-up-webhooks/) to learn more.\n",
        "responses": {
          "200": {
            "description": "Information about webhook settings was successfully received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "http://site.ru/webhook"
                    },
                    "secret": {
                      "type": "string",
                      "example": "my_secret"
                    },
                    "is_enabled": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "url": "http://site.ru/webhook",
                      "secret": "my_secret",
                      "is_enabled": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Information about webhook settings with passed `project_id` does not exists. Make sure you used correct `project_id` or created webhook earlier."
          }
        }
      },
      "put": {
        "tags": [
          "common-webhooks"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "update-webhook",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Update information about webhook settings",
        "description": "Updates the information about the webhook settings in Store.\nCheck webhooks [documentation](/doc/shop-builder/integration-guide/set-up-webhooks/) to learn more.\n",
        "responses": {
          "204": {
            "description": "Information about webhook settings was successfully updated."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Information about webhook settings with passed `project_id` does not exists. Make sure you used correct `project_id` or created webhook earlier."
          },
          "422": {
            "description": "Information about webhook settings contains empty URL."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL of your server for receiving [Game services](/webhooks/operation/successful-order-payment/) webhooks. The URL  must be publicly accessible and use the HTTPS protocol, for example `https://example.com`. You can also specify the URL you find in any tool for testing webhooks.\n\nFor [Game services](/webhooks/operation/successful-order-payment/) webhooks, the setting specified in this API call  takes precedence over the setting configured in Publisher Account in [Project Settings > Webhooks](https://publisher.xsolla.com/0/projects/0/edit/webhooks/) section.",
                    "example": "http://site.ru/webhook"
                  },
                  "secret": {
                    "type": "string",
                    "description": "The project secret key for signing [Game services](/webhooks/operation/successful-order-payment/) webhooks.\n\nFor [Game services](/webhooks/operation/successful-order-payment/), the key specified in this API call takes precedence over the key generated in Publisher Account in [Project Settings > Webhooks](https://publisher.xsolla.com/0/projects/0/edit/webhooks/) section.",
                    "example": "my_secret"
                  },
                  "is_enabled": {
                    "type": "boolean",
                    "description": "Whether [Game services](/webhooks/operation/successful-order-payment/) webhooks are enabled.\n\nFor [Game services](/webhooks/operation/successful-order-payment/) webhooks, the setting specified in this API call takes precedence over the setting configured in Publisher Account in [Project Settings > Webhooks](https://publisher.xsolla.com/0/projects/0/edit/webhooks/) section.",
                    "example": true
                  },
                  "version": {
                    "type": "integer",
                    "description": "Webhooks version. In version `2`, the [items](/webhooks/operation/successful-order-payment/#!path=items&t=request) array includes the parameters `is_free`, `is_bonus`, and `is_bundle_content`, which are not present in version `1` (default).",
                    "enum": [
                      1,
                      2
                    ]
                  }
                },
                "required": [
                  "url",
                  "secret",
                  "is_enabled"
                ],
                "example": {
                  "url": "http://site.ru/webhook",
                  "secret": "my_secret_key",
                  "is_enabled": true,
                  "version": 1
                }
              }
            }
          },
          "description": "Information about webhook settings.",
          "required": true
        }
      }
    },
    "/v2/project/{project_id}/admin/items/pre_order/limit/item/sku/{item_sku}": {
      "get": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Get information about item pre-order limit",
        "description": "Get pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the Admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}\n",
        "responses": {
          "200": {
            "description": "Information about the item pre-order limit was successfully received.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "sku": {
                      "type": "string",
                      "example": "com.xsolla.item_1"
                    },
                    "is_pre_order_limit_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "available": {
                      "type": "integer",
                      "example": 431
                    },
                    "reserved": {
                      "type": "integer",
                      "example": 13
                    },
                    "sold": {
                      "type": "integer",
                      "example": 556
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "item_id": 1,
                      "sku": "com.xsolla.item_1",
                      "is_pre_order_limit_enabled": true,
                      "available": 431,
                      "reserved": 13,
                      "sold": 556
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        }
      },
      "post": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "add-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Add quantity to item pre-order limit",
        "description": "Add quantity to pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the Admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}\n",
        "responses": {
          "201": {
            "description": "The quantity to limit was successfully added."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity to add."
                  }
                },
                "required": [
                  "quantity"
                ]
              },
              "example": {
                "quantity": 100000
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "set-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Set quantity of item pre-order limit",
        "description": "Set quantity of pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the Admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}\n",
        "responses": {
          "204": {
            "description": "The quantity to limit was successfully set."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity to set."
                  }
                },
                "required": [
                  "quantity"
                ]
              },
              "example": {
                "quantity": 100000
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "remove-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Remove quantity of item pre-order limit",
        "description": "Remove quantity of pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the Admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}\n",
        "responses": {
          "204": {
            "description": "The quantity to limit was successfully removed."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity to remove."
                  }
                },
                "required": [
                  "quantity"
                ]
              },
              "example": {
                "quantity": 100000
              }
            }
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/pre_order/limit/item/sku/{item_sku}/toggle": {
      "put": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "toggle-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Toggle item's pre-order limit",
        "description": "Enable/disable pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}/toggle\n",
        "responses": {
          "204": {
            "description": "The limit has been disabled/enabled."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_pre_order_limit_enabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "is_pre_order_limit_enabled"
                ]
              },
              "example": {
                "is_pre_order_limit_enabled": true
              }
            }
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/pre_order/limit/item/sku/{item_sku}/all": {
      "delete": {
        "tags": [
          "common-pre-orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "remove-all-pre-order-limit",
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "$ref": "#/components/parameters/item_sku-path-param"
          }
        ],
        "summary": "Remove all quantity of item pre-order limit",
        "description": "Remove all quantity of pre-order limit of the item.\n\nPre-Order limit API allows you to sell an item in a limited quantity. For configuring the pre-order itself, go to the admin section of the desired item module:\n* [Game Keys](https://developers.xsolla.com/api/shop-builder/operation/admin-create-game/)\n* [Virtual Items & Currency](https://developers.xsolla.com/api/shop-builder/operation/admin-get-virtual-items-list/)\n* [Bundles](https://developers.xsolla.com/api/shop-builder/operation/admin-get-bundle-list/)\n\nAliases for this endpoint:\n* /v2/project/{project_id}/admin/items/pre_order/limit/item/id/{item_id}/all\n",
        "responses": {
          "204": {
            "description": "The limit was successfully removed."
          },
          "401": {
            "$ref": "#/components/responses/Common_401-invalid-basic-auth"
          },
          "404": {
            "description": "Item not found."
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/upsell": {
      "get": {
        "tags": [
          "upsell-admin"
        ],
        "operationId": "get-upsell-configurations-for-project-admin",
        "x-admin": true,
        "x-server": true,
        "responses": {
          "200": {
            "description": "The list of configuration details and items used for upsell in the project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "is_enabled": {
                        "type": "boolean",
                        "example": true,
                        "description": "Whether upsell is enabled for the project."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "fixed_list",
                          "most_sellable",
                          "only_promotions"
                        ],
                        "example": "fixed_list",
                        "description": "The type of upsell."
                      },
                      "items": {
                        "type": "array",
                        "example": [
                          {
                            "item_id": 1,
                            "sku": "com.xsolla.booster_mega_1",
                            "name": {
                              "en": "Item's name",
                              "de": "Name des Artikels"
                            },
                            "type": "virtual_good"
                          }
                        ],
                        "description": "The list of items SKU that are a part of the upsell in the project.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "item_id": {
                              "$ref": "#/components/schemas/item_id"
                            },
                            "sku": {
                              "$ref": "#/components/schemas/sku"
                            },
                            "type": {
                              "$ref": "#/components/schemas/item_type"
                            },
                            "name": {
                              "$ref": "#/components/schemas/name-localization-object"
                            },
                            "bundle_type": {
                              "$ref": "#/components/schemas/bundle_type"
                            },
                            "unit_type": {
                              "$ref": "#/components/schemas/unit_type"
                            },
                            "unit_items": {
                              "type": "array",
                              "description": "Game keys for different DRMs.",
                              "items": {
                                "type": "object",
                                "description": "Game key item. It represents game on a certain platform (steam, gog, etc.).",
                                "properties": {
                                  "item_id": {
                                    "$ref": "#/components/schemas/item_id"
                                  },
                                  "sku": {
                                    "$ref": "#/components/schemas/sku"
                                  },
                                  "type": {
                                    "$ref": "#/components/schemas/item_type"
                                  },
                                  "name": {
                                    "$ref": "#/components/schemas/name-localization-object"
                                  },
                                  "drm_name": {
                                    "$ref": "#/components/schemas/drm_name"
                                  },
                                  "drm_sku": {
                                    "$ref": "#/components/schemas/drm_sku"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "upsell": {
                    "summary": "Project has upsell",
                    "value": [
                      {
                        "is_enabled": true,
                        "type": "fixed_list",
                        "items": [
                          {
                            "item_id": 1,
                            "sku": "com.xsolla.booster_mega_1",
                            "name": {
                              "en": "Item's name",
                              "de": "Name des Artikels"
                            },
                            "type": "virtual_good"
                          },
                          {
                            "item_id": 2,
                            "sku": "com.xsolla.booster_mega_2",
                            "name": {
                              "en": "Item's name",
                              "de": "Name des Artikels"
                            },
                            "type": "bundle",
                            "bundle_type": "standard"
                          },
                          {
                            "item_id": 3,
                            "sku": "com.xsolla.mega_game_1",
                            "name": {
                              "en": "Mega game"
                            },
                            "type": "unit",
                            "unit_type": "game",
                            "unit_items": [
                              {
                                "item_id": 4,
                                "sku": "com.xsolla.mega_game_steam_1",
                                "name": {
                                  "en": "Mega game steam"
                                },
                                "drm_name": "Steam",
                                "drm_sku": "steam_key_1"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Promotions_401-invalid-client-auth"
          }
        },
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Get information about upsell in project",
        "description": "Retrieves the information about upsell in project: whether it's enabled, type of upsell, and the SKU list of items that are a part of this upsell."
      },
      "post": {
        "tags": [
          "upsell-admin"
        ],
        "operationId": "post-upsell",
        "summary": "Create upsell",
        "description": "Creates an upsell for a project.\n",
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-upsell"
        },
        "responses": {
          "202": {
            "description": "Upsell has been created for the project."
          },
          "401": {
            "$ref": "#/components/responses/Promotions_401-invalid-client-auth"
          },
          "404": {
            "$ref": "#/components/responses/Upsell-404-item-not-found"
          },
          "422": {
            "$ref": "#/components/responses/Upsell-422-invalid-request"
          }
        }
      },
      "put": {
        "tags": [
          "upsell-admin"
        ],
        "operationId": "put-upsell",
        "summary": "Update upsell",
        "description": "Update an upsell for a project.\n",
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "x-server": true,
        "x-admin": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-upsell"
        },
        "responses": {
          "202": {
            "description": "Upsell has been updated for the project."
          },
          "401": {
            "$ref": "#/components/responses/Promotions_401-invalid-client-auth"
          },
          "404": {
            "$ref": "#/components/responses/Upsell-404-item-not-found"
          },
          "422": {
            "$ref": "#/components/responses/Upsell-422-invalid-request"
          }
        }
      }
    },
    "/v2/project/{project_id}/admin/items/upsell/{toggle}": {
      "put": {
        "tags": [
          "upsell-admin"
        ],
        "operationId": "put-upsell-toggle-active-inactive",
        "x-admin": true,
        "x-server": true,
        "responses": {
          "202": {
            "description": "An upsell in a project was activated or deactivated."
          },
          "401": {
            "$ref": "#/components/responses/Promotions_401-invalid-client-auth"
          }
        },
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          },
          {
            "name": "toggle",
            "in": "path",
            "required": true,
            "description": "Activation status.",
            "schema": {
              "type": "string",
              "example": "activate"
            }
          }
        ],
        "summary": "Activate/Deactivate project's upsell",
        "description": "Changes an upsell’s status in a project to be either active or inactive."
      }
    },
    "/v2/project/{project_id}/items/upsell": {
      "get": {
        "tags": [
          "upsell-client"
        ],
        "operationId": "get-upsell-for-project-client",
        "x-client": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/Upsell-200-get-client-list"
          },
          "401": {
            "$ref": "#/components/responses/Promotions_401-invalid-client-auth"
          }
        },
        "security": [
          {
            "XsollaLoginUserJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project_id-path-param"
          }
        ],
        "summary": "Get list of upsell items in project",
        "description": "Gets a list of upsell items in a project if they have already been set up."
      }
    },
    "/v2/merchant/{merchant_id}/projects": {
      "get": {
        "tags": [
          "common-merchant"
        ],
        "operationId": "get-projects",
        "x-server": true,
        "x-admin": true,
        "security": [
          {
            "basicMerchantAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-query-param"
[...]
